.ttt-container {
  text-align: center;
  color: #00ffee;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  padding: 2rem;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 5px;
  justify-content: center;
  margin-top: 80px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #1a1a2e;
  border-radius: 10px;
  font-size: 2rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 0 15px #00ffee;
  transition: background 0.3s, transform 0.2s;
}

.cell:hover {
  background: #62ff00;
  transform: scale(1.05);
}

button:hover {
  background: #00ccbb;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background: #00ffee;
  color: #000;
  border: none;
  border-radius: 5px;
  height:50px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 10px #00ffee;
  transition: background 0.3s ease; 
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  height:50px;
  margin: 20px auto;
  max-width: 300px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

