@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
body{
  background-color: #8000FF;
  color: 	#00ffcc;
  font-size:15px;
  text-align: center;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 2rem;
  text-shadow: #02e0b3 2px 2px;
}
button {
    background-color: rgb(255, 89, 222);
    border: 0px;
    border-radius: 15%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    transition: background 0.3s ease; 
    width: 300px;
}