.options-button {
    margin-top: 20px;
    padding: 10px 20px;
    background: #00ffee;
    color: #000;
    border: none;
    border-radius: 5px;
    height:50px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 0 10px #00ffee;
    transition: background 0.3s ease; 
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    height:50px;
    margin: 20px auto;
    max-width: 300px;
}
.options {
  display: flex;
  flex-direction: column;
  align-items: center;
}